<h1><%= @post.title %> </h1>
<div id="user_nav">
	<% if user_signed_in? %>
	Signed_in as <%= current_user.email %>. <%= link_to "Sing out", destroy_user_session_path, method: :delete %>
	<% else %>
	<%= link_to "Sign up", new_user_registration_path %> or
	<%= link_to "Sign in", new_user_session_path %>
	<% end %>
</div>

<%= @post.content %>
<h2>Commments</h2>
<ul>
	<% if @post.comments.any? %>
	<% @post.comments.each do |comment| %>
	<li>
		<%= comment.body %> (by <%= comment.commenter %>)
		<%= link_to "delete", [comment.post, comment], confirm: "Sure?", method: :delete %>
	 </li>

	<% end %>
	<% else %>
	<li>no comment yet</li>
	<% end %>
</ul>

<h2> Add a comment </h2>
<%= form_for([@post, @comment]) do |f| %>

<% if @comment.errors.any? %>
<ul>
	<% @comment.errors.full_messages.each do |msg| %>
	<li><%= msg %></li>
	<% end %>
</ul>
<% end %>

	<div class="field" %>
		<%= f.label :commenter %>
		<%= f.text_field :commenter %>
	</div>

	<div class="field" %>
		<%= f.label :body %>
		<%= f.text_area :body %>
	</div>

	<div class="actions" %>
		<%= f.submit %>
	</div>

<% end %>

<%= link_to "home", posts_path %>